// ScrollBar Starts
::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: #1f2937;
  }

  &-thumb {
    border-radius: 10px;
    height: 80px;
    background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
  }
}

// ScrollBar Ends

.cursor {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: crimson;
  transition: 50ms ease-in-out;
}

//

:root {
  --background: #F9F9FB;
  --layer: #FFFFFF;
  --backdrop: rgba(200, 200, 215, 0.65);
  --outline: var(--primary);
  --primary: var(--blue);
  --primaryText: var(--blueText);
  --red: #FF6168;
  --redText: #150001;
  --orange: #FF6A3E;
  --orangeText: #320B06;
  --yellow: #FDD352;
  --yellowText: #4B3B06;
  --green: #46D284;
  --greenText: #14291D;
  --blue: #0047DB;
  --blueText: #EAF6FF;
  --sky: #00B6FF;
  --skyText: #002738;
  --purple: #5B2DAB;
  --purpleText: #F6F2FD;
  --pink: #FF9EB8;
  --pinkText: #200005;
  --black: #07071A;
  --white: #FFFFFF;
  --grey: #E4E5EE;
  --greyText: var(--text);
  --greyFade: rgba(236, 237, 247, 0.7);
  --border: rgba(24, 48, 98, 0.65);
  --borderText: var(--background);
  --borderFade: rgba(23, 23, 51, 0.2);
  --text: #030A1D;
  --textFade: rgba(3, 9, 50, 0.5);
  --shadow: rgba(0, 0, 50, 0.08) 0px 4px 12px;
  --shadow-Hover: 0px 2px 20px -5px rgba(30, 30, 60, 0.15);
}

:root {
  --navbar-height: 4rem;
  --section-padding: 4rem;
  --section-margin: 2rem;
}

// section {
//   height: 100vh;
// }

.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  // min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {

  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}